/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(228, 197, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
